{% extends 'base_blog.html' %}
{% block title %}
{% endblock %}
{% block content %}
 <div class="container">
    <div class="row">
       <div class="col-md-8 col-md-offset-2">
           <table class="table table-striped table-bordered">
               <tr>
                   <th>글번호</th>
                   <td>{{ object.pk }}</td>
               </tr>
               <tr>
                   <th>제목</th>
                   <td>{{ object.title }}</td>
               </tr>
               <tr>
                   <th>내용</th>
                   <td>{{ object.text }}</td>
               </tr>
               <tr>
                   <th>작성자</th>
                   <td>{{ object.author }}</td>
               </tr>
               <tr>
                   <th>작성일</th>
                   <td>{{ object.created }}</td>
               </tr>
           </table>
       </div>
    </div>
     {% load disqus_tags %}
     <div class="col-md-8 col-md-offset-2">
        {% disqus_show_comments %}
     </div>
     <div class="col-md-8 col-md-offset-2"><a href="{% url 'board:delete' object.id %}" class="btn btn-info">삭제</a></div>
 </div>
{% endblock %}
