{% extends "base_blog.html" %}
{% block title %}
{% endblock %}`

{% block content %}
        <div class="container">
            <div class="row">
                {% for object in object_list %}
                {% if object.author == request.user %}
                <figure class="col-md-6 col-md-offset-3">
                    <div class="fh5co-grid animate-box" style="background-image : url('{{ object.image.url }}')">
                        <a class="image-popup text-center" href="#">
                            <div class="work-title">
                                <h3>{{ object.text }}</h3>
                                <span>생성일 : {{ object.created_date }}</span><br>
                                <span>갱신일 : {{ object.updated_date }}</span><br>
                                <span>작성자 : {{ object.author }}</span>
                            </div>
                        </a>
                            <div class="fh5co-grid animate-box" style="position:absolute; right:5px; bottom:0px;">
								<a href="{% url 'blog:detail' object.id %}" class="card-link", style="color:black; ; text-decoration:none;"><b>댓글</b></a>
                                {% if user == object.author %}
								<a href="{% url 'blog:update' object.id %}" class="card-link", style="color:black; ; text-decoration:none;"><b>수정</b></a>
								<a href="{% url 'blog:delete' object.id %}" class="card-link", style="color:black; ; text-decoration:none;"><b>삭제</b></a>
                                {% endif %}
                            </div>
                    </div>
                </figure>
                {% endif %}
                {% endfor %}
            </div>



        </div>

{% endblock %}